[Desktop Entry]
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=transferFile;
Type=Service
X-KDE-StartupNotify=false

[Desktop Action transferFile]
Name=Upload to transfer.sh
Name[ru]=Загрузить на transfer.sh
Exec=sh -c "exec \\$(kde4-config --localprefix)/share/kde4/services/ServiceMenus/transfersh-scripts/transfer.sh %f"
Icon=download
