[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=transferFileZip;transferFileTgz;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-StartupNotify=false
X-KDE-Submenu=transfer.sh
X-KDE-Priority=TopLevel

[Desktop Action transferFileZip]
Name=Upload to transfer.sh as ZIP
Name[ru]=Загрузить на transfer.sh как ZIP
Exec=`kde4-config --localprefix`share/kde4/services/ServiceMenus/transfersh-scripts/transfer.sh %f zip
Icon=application-zip

[Desktop Action transferFileTgz]
Name=Upload to transfer.sh as TAR.GZ
Name[ru]=Загрузить на transfer.sh как TAR.GZ
Exec=`kde4-config --localprefix`share/kde4/services/ServiceMenus/transfersh-scripts/transfer.sh %f tgz
Icon=application-x-compressed-tar
