[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=transferFile;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-StartupNotify=false
X-KDE-Submenu=transfer.sh
X-KDE-Priority=TopLevel

[Desktop Action transferFile]
Name=Upload to transfer.sh
Name[ru]=Загрузить на transfer.sh
Exec=`kde4-config --localprefix`share/kde4/services/ServiceMenus/transfersh-scripts/transfer.sh %f
Icon=download
